.note-card {
  border: 1px solid grey;
  margin: 0.2rem;
  padding: 0.2rem;

  .note-content {
    border: 0.5px solid gray;
    margin: 0.2rem;
    padding: 0.2rem;
    font: inherit;
    text-align: center;
  }
  .note-actions {
    border:0.5px solid gray;
    margin: 0.2rem;
    padding: 0.2rem;
    display: flex;
    justify-content:space-evenly;
  }
}
